<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bungalow</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="wolkencontainer">
      <div class="wolke"></div>
    </div>

    <div class="bungalow">
      <div class="roof"></div>
      <div class="Rückseite">
        <div class="schornstein"></div>
        <div class="schornstein2"></div>
        <div class="oberlicht Wohnzimmer"></div>
        <div class="oberlicht Küche"></div>
        <div class="oberlicht Schlafzimmer"></div>
      </div>
    </div>

    <div class="pagination">
      <a href="../Left-Side/index.html">Linke Seite</a>
      <span>----</span>
      <a href="../Rechte-Ansicht/index.html">Rechte Seite</a>
    </div>

    <a href="../Dach/index.html" class="dach">Dach</a>
    <script src="script.js"></script>
  </body>
</html>
