<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bungalow</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="bungalow">
      <div class="roof"></div>
      <div class="Frontansicht">
        <div class="door"></div>
        <div class="window-flur"></div>
        <div class="window-bad"></div>
        <div class="window-Wohnzimmer">
          <div class="window-Wohnzimmer1"></div>
          <div class="window-Wohnzimmer2"></div>
          <div class="window-Wohnzimmer3"></div>
          <div class="window-Wohnzimmer4"></div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <a href="../Rechte-Ansicht/index.html">Rechte Seite</a>
      <a href="../Left-Side/index.html">Linke Seite</a>
      <a href="../Dach/index.html" class="dach">Dach</a>
    </div>

    <script src="app.js"></script>
  </body>
</html>
