body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet);
}

.bungalow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roof {
    width: 470px;
    height: 70px;
    background-color: #8B4513;
    clip-path: polygon(60% 0%, 100% 100%, 0% 100%);
    position: relative;
}

.Linke-Ansicht {
    width: 450px;
    height: 250px;
    background-color: #F5F5DC;
    position: relative;
    overflow: hidden;
    border: 2px solid #333;
}

.window {
    width: 100px;
    height: 200px;
    background-color: rgba(135, 206, 250, 0.6);
    z-index: 10;
    position: absolute;
    right: 30px;
    bottom: 30px;
    border: 2px solid #333;
}

.holzseite {
    background-color: #D2691E;
    width: 280px;
    height: 250px;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
